
.CodeMirrorEditor {
  font-weight:bold;
  font-size:12px;
}

span.debug_marker{
  position:absolute;
  color:white;
  left:0px;
  top:0px;
}

svg.debug_marker{
  margin-left:2px;
}

svg.debug_marker:hover{
  cursor:pointer;
}

svg.build_marker{
  margin-left:2px;
}

svg.build_marker:hover{
  cursor:pointer;
}

circle.build_marker{
  fill:Red;
  stroke:White;
  stroke-width:1px;
}

line.build_marker{
  stroke:White;
  stroke-width:1px;
}
